:root {
  --gigas: #423699;
  --white: #FFF;
  --gallery: #EFEFEF;
  --mineShaft: #222;
  --mineShaftSecond: #333;
  --gray: #808080;
  --indigo: #5A4DCB;
  --indigoSecond: #564CCA;
  --alto: #D7D7D7;
  --royalBlue: #5A55DE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: var(--gigas);
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: var(--white);
  border-radius: 4px;
  box-shadow: 0 23px 74px 21px rgba(48,52,115,.5);
  display: flex;
  margin: .625rem;
  margin-left: 1.5625rem;
  padding: .9375rem 0;
  width: 42.6875rem;
}

.left {
  flex-basis: 14rem;
}

.right {
  flex-basis: 27.75rem;
  display: flex;
  align-items: center;
}

.nature {
  height: 26rem;
  background: var(--gallery) url(../img/nature.jpg) -45px -66px;
  border-radius: 4px;
  position: relative;
  left: -15px;
}

.form {
  flex: 1;
  margin: 0 2.5rem;
}

.form-item {
  margin-bottom: 1.875rem;
}

.form-center {
  display: flex;
  justify-content: space-between;
}

.form-heading {
  color: var(--mineShaft);
  font-size: 2.25rem;
  font-weight: normal;
}

.form-paragraph {
  color: var(--gray);
  font-size: .875rem;
}

.form-label {
  color: var(--mineShaftSecond);
  font-size: .75rem;
  text-transform: uppercase;
}

.form-label-active {
  color: var(--indigo);
}

.form-input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--alto);
  font-size: 1.5rem;
  outline: 0;
  padding: .469rem 0;
}

.form-input-active {
  border-bottom: 2px solid var(--royalBlue);
}

.form-link {
  align-self: center;
  color: var(--indigoSecond);
  font-size: .875rem;
  text-decoration: none;
}

.form-btn {
  background-image: -moz-linear-gradient( 45deg, rgb(95,74,206) 0%, rgb(94,67,167) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(95,74,206) 0%, rgb(94,67,167) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(95,74,206) 0%, rgb(94,67,167) 100%);
  border-radius: 4px;
  border: 0;
  color: var(--white);
  cursor: pointer;
  display: block;
  font-size: 1rem;
  outline: 0;
  padding: .8234rem 1.5762rem;
  text-transform: uppercase;
}

.form-paragraph,
.form-label,
.form-link {
  font-weight: 600;
}

@media (max-width: 31.25em) {
  .container {
    margin: .625rem;
    padding: 1.875rem;
  }

  .left {
    display: none;
  }

  .right {
    flex-grow: 1; 
  }

  .form,
  .form-item:last-of-type {
    margin: 0;
  }
}

@media (max-width: 22.50em) {
  .form-center {
    flex-direction: column-reverse;
  }

  .form-btn {
    margin-bottom: 1rem;
  }
}